# Import des data et exploration 

Ce script python à pour objectif de donner une prmière apporche de l'utilisation des libraires (cf fichier Librairies.ipynb) notamment à travers l'import du dataset ainsi que les premières exploration statistique de l'échantillon en python.

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mp

## Data brut 

Les données au format brut sont situées dans le dossier **/data** à la racine de ce notebook.

In [4]:
#Importer les donnée à partir d'un fichier CSV 
df = pd.read_csv('../data/listing_rating_timeseries.csv', sep=";")

In [7]:
df

      listing_id  star_rating  reviews_count                         day
0       23700276          4.5             14  2018-09-27 08:03:53.265088
1       23700276          4.5             14  2018-09-26 21:17:25.073404
2       18824088          4.5             69  2018-09-27 08:03:53.265088
3       18824088          4.5             69  2018-09-26 21:17:25.073404
4        3728394          4.5             97  2018-09-27 08:03:53.265088
...          ...          ...            ...                         ...
1424    12214909          5.0             19  2018-09-26 21:17:25.073404
1425     5662637          4.0             26  2018-09-27 08:03:53.265088
1426     5662637          4.0             26  2018-09-26 21:17:25.073404
1427    14330975          5.0              4  2018-09-27 08:03:53.265088
1428    14330975          5.0              4  2018-09-26 21:17:25.073404

[1429 rows x 4 columns]

In [20]:
#Check du type de donnée 
print(df.dtypes)

listing_id;star_rating;reviews_count;day    object
dtype: object

In [21]:
#Description rapide du dataset 
df.describe()

       listing_id;star_rating;reviews_count;day
count                                      1429
unique                                     1429
top     23517478;5;3;2018-09-26 21:17:25.073404
freq                                          1

In [22]:
#Affichage d'une colone 
for x in df : 
    print(x)

listing_id;star_rating;reviews_count;day

In [23]:
#affichage de la shape 
df.shape[1]

1

## Data Clean 
Les données nettoyées situées dans le dossier /clean à la racine de ce notebook. Pour plus de details consulter le script **raw_cleaning.py** à la racine.

In [5]:
#charger le dataset clean
dataset = pd.read_csv("../data/listings_final.csv", sep=";")

In [6]:
print(dataset.head)

<bound method NDFrame.head of      Unnamed: 0  listing_id  \
0             0    28581061
1             1      661961
2             2     1261705
3             3     1318834
4             4     1677091
5             5     2157481
6             6     1140610
7             7     5662637
8             8     5981388
9             9      149534
10           10     7936602
11           11     9468773
12           12       56093
13           13       57207
14           14    14386985
15           15    15366928
16           16    15881321
17           17     1896398
18           18    17956827
19           19      114543
20           20    22199515
21           21    22568676
22           22    23179840
23           23     2760689
24           24    23871255
25           25      170599
26           26    24248060
27           27    24488632
28           28      164255
29           29      167998
..          ...         ...
970         970    27978488
971         971    27980852
972         972    27986775
973         973    27987350
974         974    13652841
975         975    28045926
976         976    28093743
977         977    28115949
978         978    28202081
979         979    28169942
980         980    28173671
981         981    28179069
982         982    28236618
983         983    28244133
984         984     2647185
985         985    23178617
986         986    23856855
987         987    26026091
988         988    28267576
989         989    28605689
990         990    28268297
991         991    28296506
992         992    28302788
993         993    28333650
994         994    28333678
995         995    28335197
996         996    28583013
997         997    28628316
998         998    28792796
999         999    28682896

                                                  name          type  \
0                                      La maison Clery  private_room
1                  studio PARIS PLACE EDITH PIAF 75020   entire_home
2             chambre privée à louer @ paris oberkampf  private_room
3                       Appartement au coeur du Marais   entire_home
4                                  Lovely & Quiet flat   entire_home
5                  CENTRAL ET BIEN CONÇU,50m2+terrasse   entire_home
6                        Petit atelier canal st Martin   entire_home
7    Sophisticated & Sunny Opulent 1BR *Opéra *4 Gu...   entire_home
8                Paris 16 - Elysées-Kléber-Trocadero /   entire_home
9                   GREAT WARM FULL APT LE HAUT MARAIS   entire_home
10                     UNIQUE ARCHITECT DESIGNED HOUSE   entire_home
11                   La Maison d'Anne suite 2 chambres   entire_home
12                         Beau duplex dans le Marais    entire_home
13                            Belle Chambre pour court  private_room
14              Chambre avec salle de douche privative  private_room
15                    stunning studio Charles Laffitte   entire_home
16   2 Bedroom Parisian Apartment Close to Eiffel T...   entire_home
17                         chambre à louer pour 1 ou 2  private_room
18                       PARIS PANTHEON QUARTIER LATIN  private_room
19                   Charming 1bdr 55m² - Eiffel Tower   entire_home
20      Spacious 2 BR Near Eiffel Tower and St Germain   entire_home
21                                    Centre Rex Opéra   entire_home
22                              LIEU UNIQUE DANS PARIS   entire_home
23               Cosy studio - Place des Vosges/Marais   entire_home
24        Modern 1 Bedroom 1 Bath Near Arc de Triomphe   entire_home
25                     Sunny modern studio in Gambetta   entire_home
26   Charmant studio calme dans un quartier très vi...   entire_home
27              APPT CHARMANT ET MODERNE - RIVE GAUCHE   entire_home
28                  Perfect place in Le Marais - Paris   entire_home
29                 Cosy Luxe, Louvre, Opera, St.Honoré   entire_home
..                                                 ...           ...
970        Quintessentially St.Germain~Parisian Allure   entire_home
971                           Duplex charment et calme   entire_home
972      Wonderful and cosy 2/3 rooms - Heart of Paris   entire_home
973          Charming Parisian flat in Montorgeuil !!!   entire_home
974                   Charmant petit studio à Paris 11   entire_home
975        Live Like a French Artist in Bohemian Paris   entire_home
976    Have Fun In Paris With Your Friends Or Family !   entire_home
977  Comfortable accommodations for 5 next to St La...  private_room
978                        Room near La Fayette Galery  private_room
979       Saint Germain Spacious luxury & family apart   entire_home
980  Come Scream "Je T'Aime Paris" In This Central ...   entire_home
981  Chambre dans un petit appart. Tiny room/small ...  private_room
982                                   Cosy rooms for 4  private_room
983                 Parizienne Touch near Montparnasse  private_room
984                Elégant appartement Musée Rodin…...   entire_home
985            Appartement familial au centre de Paris   entire_home
986                        Studio pour 1 à 2 personnes   entire_home
987  Grande chambre dans quartier vivant bien desservi  private_room
988   Studio Rue des Canettes Saint - Germain des Pres   entire_home
989                                        Chic room 2   entire_home
990                         Appartement dans Le Marais   entire_home
991       Agréable appartement dans quartier Le Marais   entire_home
992                Au cœur du Marais un cocon, Paris 3   entire_home
993                Charming room in the heart of Paris  private_room
994      Handsome Junior Suite next to "Louvre Rivoli"  private_room
995                   Studio cosy Jardin du Luxembourg   entire_home
996             Charmant  30m2 - Faubourg Saint Martin   entire_home
997                Cosy flat in the marais - Best area   entire_home
998                  Appartement 3 chambres madeleine.   entire_home
999                                   Village Jourdain  private_room

                  city                       neighborhood   latitude  \
0                Paris                  2e arrondissement  48.869292
1                Paris                                NaN  48.867284
2                Paris                                NaN  48.867894
3                Paris                         République  48.870370
4                Paris       Buttes-Chaumont - Belleville  48.874149
5                Paris                 10e arrondissement  48.875863
6                Paris                         République  48.869362
7                Paris          Opéra - Grands Boulevards  48.872781
8                Paris                              Passy  48.868952
9                Paris                                NaN  48.866360
10               Paris  Châtelet - Les Halles - Beaubourg  48.864116
11               Paris                       Saint-Michel  48.851339
12               Paris                  3e arrondissement  48.867284
13               Paris                          Vaugirard  48.846184
14               Paris  Châtelet - Les Halles - Beaubourg  48.861960
15   Neuilly-sur-Seine                 16e arrondissement  48.879966
16               Paris        Tour Eiffel - Champ de Mars  48.854690
17               Paris       Père Lachaise - Ménilmontant  48.861193
18               Paris                       Montparnasse  48.846189
19               Paris                                NaN  48.849530
20               Paris        Invalides - Ecole Militaire  48.857509
21               Paris          Opéra - Grands Boulevards  48.872317
22               Paris       Buttes-Chaumont - Belleville  48.872361
23               Paris       Saint-Paul - Ile Saint-Louis  48.852731
24               Paris                     Champs-Elysées  48.874374
25               Paris       Père Lachaise - Ménilmontant  48.867560
26               Paris            Pigalle - Saint-Georges  48.881481
27               Paris                       Montparnasse  48.848085
28               Paris                  3e arrondissement  48.861398
29               Paris                Madeleine - Vendôme  48.866056
..                 ...                                ...        ...
970              Paris     Saint Germain des Prés - Odéon  48.854451
971              Paris                 11e arrondissement  48.849575
972              Paris                         République  48.868638
973              Paris  Châtelet - Les Halles - Beaubourg  48.865036
974              Paris                 11e arrondissement  48.863682
975              Paris       Buttes-Chaumont - Belleville  48.871137
976              Paris       Buttes-Chaumont - Belleville  48.871268
977              Paris                       Saint-Lazare  48.876698
978              Paris            Pigalle - Saint-Georges  48.878348
979              Paris                       Saint-Michel  48.850496
980              Paris                       Palais Royal  48.863330
981              Paris                             Nation  48.847034
982              Paris                       Palais Royal  48.864002
983              Paris                       Montparnasse  48.845108
984              Paris        Invalides - Ecole Militaire  48.855292
985              Paris                         République  48.871239
986              Paris                             Nation  48.847071
987              Paris       Buttes-Chaumont - Belleville  48.872142
988              Paris     Saint Germain des Prés - Odéon  48.853178
989              Paris     Saint Germain des Prés - Odéon  48.851762
990              Paris                          Le Marais  48.859660
991              Paris  Châtelet - Les Halles - Beaubourg  48.860608
992              Paris                  3e arrondissement  48.863066
993              Paris  Châtelet - Les Halles - Beaubourg  48.862175
994              Paris  Châtelet - Les Halles - Beaubourg  48.861764
995              Paris     Saint Germain des Prés - Odéon  48.848695
996              Paris                         République  48.871623
997              Paris                  2e arrondissement  48.867434
998              Paris                Madeleine - Vendôme  48.870109
999              Paris       Buttes-Chaumont - Belleville  48.875425

     longitude  person_capacity  beds  bedrooms  bathrooms  is_rebookable  \
0     2.348335                1     1         1        2.0          False
1     2.403255                2     1         1        1.0          False
2     2.375897                1     1         1        1.0          False
3     2.358510                3     2         2        1.0          False
4     2.373700                2     1         1        1.0          False
5     2.372665                4     2         1        1.0          False
6     2.368722                3     1         1        1.0          False
7     2.351549                2     2         1        1.0          False
8     2.289333                6     5         2        2.0          False
9     2.361844                4     2         1        1.0          False
10    2.347981                4     2         2        1.5          False
11    2.350175                5     4         2        1.0          False
12    2.358431                4     2         1        1.0          False
13    2.304455                2     1         1        1.0          False
14    2.348387                2     1         1        1.0          False
15    2.274499                2     1         1        1.0          False
16    2.298392                6     3         2        1.0          False
17    2.405337                2     2         1        1.0          False
18    2.324334                3     3         1        1.0          False
19    2.290219                2     1         1        1.0          False
20    2.322610                3     2         2        1.5          False
21    2.348796                4     3         2        1.0          False
22    2.377559                4     2         1        1.0          False
23    2.363485                2     1         0        1.0          False
24    2.304824                2     1         1        1.0          False
25    2.402646                2     1         1        1.0          False
26    2.342768                2     1         0        1.0          False
27    2.321207                4     2         1        1.0          False
28    2.364299                4     2         1        1.0          False
29    2.330400                4     3         2        1.0          False
..         ...              ...   ...       ...        ...            ...
970   2.337845                3     2         1        1.0          False
971   2.388733                3     1         1        1.0          False
972   2.377020                4     2         1        1.0          False
973   2.348767                4     1         1        1.0          False
974   2.380281                2     1         0        1.0          False
975   2.394834                2     1         0        1.0          False
976   2.388484                7     1         4        1.0          False
977   2.326578                5     4         2        2.0          False
978   2.338279                3     2         1        1.0          False
979   2.344302                7     5         3        2.0          False
980   2.341062                2     1         0        1.0          False
981   2.394126                2     1         1        1.0          False
982   2.341418                4     2         2        2.0          False
983   2.320944                2     1         1        1.0          False
984   2.317244                2     1         1        1.0          False
985   2.371351                5     2         2        1.0          False
986   2.411239                2     1         0        1.0          False
987   2.378841                1     1         1        1.0          False
988   2.332916                2     1         0        1.0          False
989   2.340293                2     1         1        1.0          False
990   2.364045                2     2         1        1.5          False
991   2.348907                4     2         1        1.0          False
992   2.364785                2     2         0        1.0          False
993   2.348822                2     1         1        1.0          False
994   2.348464                2     1         1        1.0          False
995   2.325857                2     1         0        1.0          False
996   2.358006                3     1         1        1.0          False
997   2.351771                4     2         1        1.0          False
998   2.321475                6     4         2        1.5          False
999   2.395240                2     1         1        1.0          False

     is_new_listing  is_fully_refundable  is_host_highly_rated  \
0              True                 True                 False
1             False                 True                  True
2             False                 True                  True
3             False                 True                 False
4             False                 True                  True
5             False                 True                 False
6             False                 True                 False
7             False                 True                  True
8             False                 True                  True
9             False                 True                  True
10            False                 True                 False
11            False                 True                  True
12            False                 True                  True
13            False                 True                 False
14            False                 True                  True
15            False                 True                  True
16            False                 True                  True
17            False                 True                 False
18            False                 True                 False
19            False                 True                  True
20            False                 True                  True
21            False                 True                  True
22            False                 True                  True
23            False                 True                  True
24            False                 True                  True
25            False                 True                  True
26            False                 True                  True
27            False                 True                 False
28            False                 True                 False
29            False                 True                 False
..              ...                  ...                   ...
970            True                 True                 False
971            True                 True                 False
972           False                 True                 False
973           False                 True                  True
974           False                 True                 False
975            True                 True                 False
976            True                 True                  True
977            True                 True                  True
978            True                 True                 False
979            True                 True                  True
980            True                 True                 False
981           False                 True                  True
982            True                 True                 False
983            True                 True                 False
984           False                 True                  True
985           False                 True                 False
986           False                 True                  True
987           False                 True                 False
988            True                 True                 False
989            True                 True                 False
990            True                 True                 False
991           False                 True                 False
992            True                 True                 False
993            True                 True                 False
994            True                 True                 False
995            True                 True                 False
996            True                 True                 False
997            True                 True                  True
998            True                 True                 False
999            True                 True                 False

     is_business_travel_ready  pricing_weekly_factor  pricing_monthly_factor
0                       False                   1.00                    1.00
1                       False                   0.88                    0.69
2                       False                   1.00                    1.00
3                       False                   0.82                    0.48
4                       False                   0.95                    0.90
5                       False                   1.00                    1.00
6                       False                   0.86                    0.66
7                       False                   0.92                    0.85
8                       False                   0.90                    0.75
9                       False                   1.00                    0.40
10                      False                   0.83                    1.00
11                      False                   0.92                    1.00
12                      False                   0.88                    1.00
13                      False                   0.87                    1.00

In [31]:
#définition de la variable de travail 
X = np.asarray(dataset.loc[:, ["person_capacity", "beds", "bedrooms", "bathrooms"]].values, dtype="float")
print(X)

[[ 1.   1.   1.   2. ]
 [ 2.   1.   1.   1. ]
 [ 1.   1.   1.   1. ]
 ...,
 [ 4.   2.   1.   1. ]
 [ 6.   4.   2.   1.5]
 [ 2.   1.   1.   1. ]]

In [27]:
#calcul de la moyenne 
means = sum(X) / X.shape[0]
#calcul de la variance 
variance = sum((X - means)**2) / X.shape[0]
std = np.sqrt(variance)

In [28]:
#calcul de la covariance 
covar = np.zeros((X.shape[1], X.shape[1]))  # Matrice de covariance
#calcul de la corrélation 
corr = np.zeros((X.shape[1], X.shape[1]))  # Matrice de corrélation

#affichage de la variance 
print(variance)

[ 4.791776    2.250864    0.995724    0.27461975]

## Construction des matrices

In [32]:
for i in range(X.shape[1]):
	for j in range(i+1):
		covar[i, j] = covar[j, i] = np.dot(X[:,i], X[:,j]) / X.shape[0] - means[i] * means[j]
		corr[i, j] = corr[j, i] = covar[i, j] / (std[i] * std[j])
	

print(means)
print("Matrice des covariances :")
print(covar)
print("Matrice des corrélations :")
print(corr)

[ 3.668   2.056   1.326   1.2305]
Matrice des covariances :
[[ 4.791776    2.284592    1.587232    0.663026  ]
 [ 2.284592    2.250864    1.026744    0.429092  ]
 [ 1.587232    1.026744    0.995724    0.347357  ]
 [ 0.663026    0.429092    0.347357    0.27461975]]
Matrice des corrélations :
[[ 1.          0.69564196  0.72664564  0.57798481]
 [ 0.69564196  1.          0.6858325   0.54577031]
 [ 0.72664564  0.6858325   1.          0.66426395]
 [ 0.57798481  0.54577031  0.66426395  1.        ]]